body{
    background: green;
}
h1{
    color: white;
}
table{
    border: 1px solid black;
    background: lightgreen;
    margin-top: 25px;
    border-collapse: collapse;
}
td, tr{
    border: 1px solid black;
    padding: 8px;
    align-items: center;
}
#heading{
    text-align: center;
}
caption{
caption-side: bottom;
text-align:  center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
padding: 8px;
}
ol{
    padding-right: 10px;
}
figure{
    border: 2px solid green;
}

img{
    padding:10px;
    width: 200px;
    height: 200px;
}

.heading td {
    align-items: center;
}